/build/*
!/build/default.tower
build
Build
.*
*~
!.gitignore
!.gitmodules

data/resources
data/SIMTOWER.EX_

# CMake / IDE
compile_commands.json

# Project Files
*.kdev4
*.anjuta
tags
*.patch

# Documentation
/doc/source/*
!/doc/source/Doxyfile
/doc/html
